body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
}


h1 {

    color: rgb(11, 66, 66);
}

form {

    align-items: center;
    margin: auto;
    max-width: 350px;

}